div.tutorial-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.sharkie-img {
  width: 350px;
}

div.cartoon-wrap {
  width: 350px;
  height: 260px;
  position: relative;
}

div.speech-bubble-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

p.tutorial-msg {
  position: relative;
  z-index: 101;
  padding: 1rem;
  text-align: center;
}

img.speech-bubble-img {
  position: absolute;
  left: 0;
  width: 110%;
  top: 0;
  z-index: 100;
}

.sharkie-img-wrap {
  position: absolute;
  right: 0;
  width: 100%;
}
