.player-traded-container {
  transform: translate(0px, 25%);
}

.player-traded-title {
  text-align: center;
  font-size: 72px;
  font-size: bold;
  font-family: 'interstate';
  -webkit-text-stroke: 2px black;
  margin-bottom: 2rem;
}

.player-traded-info {
  display: flex;
  justify-content: space-around;
}