.trade-player-sel-top-row {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.player-exchange-container {
  display: flex;
}

.player-exchange-out {
  text-align: center;
  font-family: 'interstate';
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: .05px black;
  text-decoration: underline;
  color: #EA7200;
}

.player-exchange-in {
  text-align: center;
  font-family: 'interstate';
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: .05px black;
  text-decoration: underline;
}

.player-exchange-arrows {
  margin: 1rem;
  transform: translate(0, 50%);
}

.rank-budget-title {
  text-align: center;
  font-family: 'interstate';
  font-size: 30px;
  font-weight: bold;
  margin-bottom: .5rem;
  -webkit-text-stroke: .05px black;
  text-decoration: underline;
}

.rank-budget-state-container {
  border: 4px solid black;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.trade-player-question {
  text-align: center;
  font-family: 'interstate';
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 1rem;
  -webkit-text-stroke: .05px black;
}