div.admin-page-header {
  min-height: 125px;
  max-height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

div.admin-page-header > h1 {
  font-size: 1.75rem;
  color: #002f6c;
  font-weight: bold;
}

div.admin-page-body-container {
  padding: 3rem;
  background-color: rgba(238, 238, 238, 0.5);
  flex: 1;
  min-height: calc(100% - 125px);
  overflow-y: auto;
}

div.admin-total-wrap {
  font-size: 2rem;
  background-color: #fff;
  color: #002f6c;
  border-radius: 3px;
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.admin-total-wrap:first-child {
  margin-bottom: 2rem;
}

div.admin-total-left {
  display: flex;
  align-items: center;
}

div.admin-total-left > div.loading-spinner,
div.admin-total-left > span {
  margin-right: 0.65rem;
}

div.admin-total-left > span {
  font-size: 2.5rem;
  color: #00788a;
}

div.admin-loading-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.admin-teacher-wrap {
  background-color: #fff;
  padding: 1rem 1rem 1rem 3rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}

div.admin-teacher-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  position: relative;
  cursor: pointer;
}

div.admin-teacher-details-wrap {
  transition: all 0.3s ease;
  overflow: hidden;
}

span.admin-teacher-plus-icon {
  width: 3rem;
  text-align: center;
  position: absolute;
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
}
span.admin-teacher-plus-icon > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  border: 1px solid #f3901d;
  font-size: 1.5rem;
  color: #f3901d;
  text-align: center;
}

div.admin-teacher-detail-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

span.admin-teacher-detail-label {
  display: inline-block;
  flex: 0.25;
  font-weight: bold;
  color: #00788a;
}

span.admin-teacher-detail {
  display: inline-block;
  flex: 1;
}

div.teacher-browser-search-wrap {
  display: flex;
  margin-bottom: 1rem;
}

div.optionListContainer > ul > li.highlight,
div.optionListContainer > ul > li:hover {
  background: #00788a;
}

div.teacher-search-input-wrap {
  min-height: 22px;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

input.searchBox {
  font-size: 1rem;
}

div.teacher-search-input-wrap > input {
  display: inline-block;
  background: none;
  border: none;
  border-bottom: 1px solid #00788a;
  min-height: 100%;
  transition: all 0.2s ease;
}

div.teacher-search-input-wrap > input:focus {
  border-color: #f3901d;
}
