div.budget-page-board-inner {
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

p.helper-text {
  width: 40%;
  margin: 1rem auto;
  text-align: center;
}

div.budget-slider-container {
  margin-top: -5rem;
}
