div.budget-page-board {
  height: 600px;
  flex-direction: column;
  padding: 1rem;
}

div.budget-equation-container {
  width: 60%;
  margin: 0 auto;
}

div.budget-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}
