div.budget-page-board {
  flex-direction: column;
  padding: 1rem;
}

div.budget-equation-container {
  width: 55%;
  margin: 0 auto;
}

div.budget-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}

p.helper-text {
  width: 50%;
  padding-left: 3rem;
}
