div.home-page-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 100;
}

.home-cards-row {
  justify-content: center;
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.objectives-board-container {
  position: relative;
  flex: 1;
}

div.team-rank-card-box,
div.money-left-card-box {
  padding: 0 2rem;
}

.sharkie-btn-container {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -25%);
}

.stick-btn-text {
  transition: all 0.3s ease;
}

div.hockey-sticks-container {
  position: relative;
  margin-top: 3rem;
}

div.hockey-sticks-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.hockey-sticks-row-2 {
  margin-top: 2.5rem;
}

div.stick-btn-container:first-child {
  text-align: right;
}
