/* .season-navigation {
  display: flex;
  justify-content: space-between;
}

.season-dashboard {
  border: 5px solid #707070;
  border-radius: 15px;
  background: #e5e5e5;
  margin: 0 auto;
  height: 624px;
  padding: 0 0.5rem 1rem 0.5rem;
}

.season-dashboard-top-row {
  display: flex;
  margin-bottom: 0.5rem;
}

.teams-jumbotron {
  display: flex;
}

.season-teams-playing-box {
  background: #707070;
  width: 464px;
  text-align: center;
  height: 324.19px;
}

.season-team-left-border {
  border-top: 324px solid #ababab;
  border-left: 60px solid transparent;
  height: 100%;
  width: 80px;
}

.season-team-right-border {
  border-top: 324px solid #ababab;
  border-right: 60px solid transparent;
  height: 100%;
  width: 80px;
}

.season-team-place {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: bold;
  -webkit-text-stroke: 0.05px black;
  margin: 0px;
  padding: 0px;
}

.next-opponent-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.SeasonTopRow-sign {
  background: #00788a;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem 0 0.5rem 0;
  color: white;
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 0.05px black;
}

.next-opponent-details {
  display: flex;
  justify-content: center;
}

.next-opponent-name {
  background: white;
  color: #3b42ff;
  padding: 1rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  height: 100%;
}

.sotr-details {
  display: flex;
}

.season-tr-title {
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding-top: 1rem;
}

.season-dashboard-bottom-row {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.simulation-button {
  padding-top: 2rem;
}

.season-schedule-title,
.season-standings-title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.season-schedule-box {
  background: white;
  border: 4px solid #707070;
  border-radius: 15px;
  font-size: 16px;
}

.current-upcoming-game {
  border: 1px solid #070707;
  margin: 0 1rem;
  border-radius: 10px;
}

.season-standings-box {
  border: 4px solid #707070;
  border-radius: 15px;
  background: #e5e5e5;
}

.upcoming-games > div {
  display: flex;
  justify-content: center;
}

.season-standings-box {
  display: flex;
  background: white;
  line-height: 1.5rem;
  white-space: nowrap;
}

.standings-team-name-box {
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding-left: 0.5rem;
}

.standings-team-points-box {
  border-bottom: 1px solid #707070;
  text-align: center;
}

.ptn-title,
.p-title {
  font-size: 12px;
}

.p-title {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.standings-teams-box {
  border-right: 1px solid #707070;
  padding: 0.5rem;
}

.standings-teams-points-box {
  text-align: center;
  padding: 0.5rem;
}

.your-team-standing {
  font-size: 18px;
  color: #006b77;
  font-weight: bold;
}

.player-team-title {
  color: #006b77;
  font-size: 16px;
  font-weight: bold;
}

.season-schedule-spacing {
  margin: 0 1rem;
} */
