div.teacher-dashboard-header {
  min-height: 125px;
  max-height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

div.teacher-dashboard-header > h1 {
  font-size: 1.75rem;
  color: #002f6c;
  font-weight: bold;
}

div.teacher-dashboard-body {
  padding: 3rem;
}

div.class-stats-wrap {
  padding: 1rem;
  margin: 1rem 0;
}

div.class-stats-wrap > h4 {
  margin-bottom: 1rem;
}

div.class-stat {
  display: flex;
  margin: 0.5rem 0;
}

div.class-stat > p {
  color: #002f6c;
  font-size: 1.1rem;
}

p.class-stat-value {
  margin-left: 1rem;
  font-weight: bold;
}

div.class-stats-wrap,
div.student-table {
  background-color: #fff;
  border-radius: 3px;
}

div.student-table-row {
  display: flex;
  padding: 1rem;
}

div.student-table-row:not(:first-child):not(:last-child) {
  border-bottom: 1px solid #00788a;
}

div.student-table-header-row {
  border-bottom: 2px solid #00788a;
}

div.student-table-row > div {
  font-size: 1rem;
  flex: 1;
  align-items: center;
  display: flex;
  padding: 0 0.25rem;
}

div.student-table-header-row > div {
  font-size: 0.9rem;
  font-weight: 700;
  color: #00788a;
}

div.teacher-dashboard-btns-wrap > button:first-child {
  margin-right: 0.5rem;
}

div.actions-column > span {
  cursor: pointer;
}

div.actions-column > span:first-child {
  margin-right: 0.5rem;
}
