div.team-page-board-left {
  flex: 0;
  padding: 1rem 1rem 1rem 0;
}

div.sticks-card {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

div.team-page-board-right {
  flex: 1;
  padding: 0.5rem 2rem 0.5rem 1rem;
}

div.team-page-stick-btns-wrap {
  margin-top: 3rem;
}

div.team-page-board-header {
  position: relative;
  height: 65px;
  display: flex;
  align-items: center;
}

h3.team-page-board-title {
  font-size: 3rem;
  text-align: center;
  flex: 1;
}

div.team-page-board-header-logo-wrap {
  position: absolute;
  left: 8%;
  right: 0;
  top: 0;
}

div.team-page-players-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0;
}

div.team-page-players-row,
div.team-page-bench-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  height: 155px;
}

div.team-page-bench-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0;
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
}

p.on-the-bench-text {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
