div.stick-btn-wrap.stick-large {
  transform: scale(1.4);
}

div.amount-stick-wrap {
  display: inline-flex;
  position: relative;
  height: 210.76px;
  width: 155px;
  align-items: flex-end;
  padding-left: 1rem;
}

div.amount-stick-wrap.amount-stick-left h3.amount-stick-title {
  padding-right: 0;
}

h4.amount-stick-title > span {
  width: 65px;
  display: inline-block;
}

div.amount-stick-img-wrap {
  position: absolute;
  bottom: 0;
}

div.amount-stick-wrap:not(.amount-stick-left) div.amount-stick-img-wrap {
  right: -55px;
}

div.amount-stick-wrap.amount-stick-left div.amount-stick-img-wrap {
  left: -55px;
}

div.amount-stick-filler {
  height: 100%;
  flex: 1;
}

p.amount-stick-text {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

div.amount-stick-indicator-wrap {
  position: absolute;
  top: 0%;
}

div.amount-stick-indicator-right {
  right: 60px;
}

div.amount-stick-indicator-left {
  left: 60px;
}
