.nice-job-scouting-row {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  align-items: center;
}

.binos {
  margin-right: 1rem;
}

.con-big {
  margin-left: 1rem;
}

.nice-job-scouting-container {
  text-align: center;
}

.nice-job-scouting-title,
.nice-job-scouting-text {
  font-size: 72px;
  font-weight: bold;
  color: #006D75;
  -webkit-text-stroke: .05px black;
}

.nice-job-scouting-title {
  margin-bottom: 5rem;
}