div.player-card-wrap {
  display: inline-block;
}

div.player-card-inner {
  width: 90px;
  height: 114px;
  border-radius: 15px;
  background-color: #e5e5e5;
  transition: all 0.3s ease;
}

div.player-card-header,
div.player-card-body {
  font-size: 1rem;
}

div.player-card-clickable .player-card-inner {
  cursor: pointer;
}

div.player-card-large div.player-card-inner {
  width: 300px;
  height: 372px;
  cursor: initial;
}

p.add-player-text {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.position-text {
  text-align: center;
  display: inline-block;
}

div.player-overlay-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.player-overlay-buttons-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 4rem;
  flex: 1;
  align-self: stretch;
}

button.player-overlay-button {
  background-color: #f3901d;
  border-radius: 25px;
  color: #fff;
  font-size: 3rem;
  display: flex;
  width: 350px;
  padding: 2rem 0;
  border: none;
  text-align: center;
  justify-content: center;
  outline: none;
}
