div.stick-btn-inner {
  position: relative;
  width: 415px;
  text-align: right;
}

div.stick-btn-inverse {
  text-align: left;
}

div.stick-btn-small {
  width: 248px;
}

a.stick-btn-title-link {
  height: 113px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

div.stick-btn-small a.stick-btn-title-link {
  height: 79px;
}

h2.stick-btn-title {
  color: #fff;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
  font-size: 5.25rem;
  position: relative;
  flex: 1;
  padding-right: 2rem;
}

div.stick-btn-inverse h2.stick-btn-title {
  padding-left: 2rem;
  padding-right: 0rem;
}

div.stick-btn-small h2.stick-btn-title {
  font-size: 3rem;
}

.stick-btn-img {
  position: absolute;
  left: 0;
}

div.stick-btn-inner:not(.has-sub-text) .stick-btn-img {
  bottom: 0px;
}

div.stick-btn-inner.has-sub-text .stick-btn-img {
  bottom: 50px;
}

p.stick-btn-text {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 30px;
  color: #006b77;
}

div.stick-btn-small p.stick-btn-text {
  font-size: 25px;
}

div.stick-btn-inverse p.stick-btn-text {
  justify-content: flex-start;
  padding-left: 1rem;
}
