.team-rank-stick-big-container {
  position: relative;
}

.team-rank-stick-big {
  position: absolute;
  top: 0;
  left: -100px;
}

div.amount-stick-wrap-big {
  display: inline-flex;
  position: relative;
  height: 210.76px;
  width: 155px;
  align-items: flex-end;
  padding-left: 1rem;
}

div.amount-stick-circle-pointer {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #4b4b4b;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
}

.big-left {
  right: 10%;
  top: 25%!important;
}

.team-rank-stick-title-big {
  position: absolute;
  top: 55px;
  left: 0px;
}

div.amount-stick-wrap-big:not(.amount-stick-left) div.amount-stick-circle-pointer {
  right: 0;
  transform: translate(5px, -50%) rotate(45deg);
}

div.amount-stick-wrap-big.amount-stick-left div.amount-stick-circle-pointer {
  left: 0;
  transform: translate(-5px, -50%) rotate(45deg);
}