@font-face {
  font-family: 'interstate';
  src: url('../fonts/interstate-regular-comp-58b641cc0aca1.otf');
}

@font-face {
  font-family: 'made-tommy';
  src: url('../fonts/MADE_TOMMY/MADE\ TOMMY\ Regular.otf');
}

@font-face {
  font-family: 'made-tommy-outline';
  src: url('../fonts/MADE_TOMMY_OUTLINE/MADE\ TOMMY\ Regular\ Outline.otf');
}

html {
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

#root {
  position: relative;
  min-height: 100vh;
}

body,
button {
  font-family: made-tommy, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25rem;
}

button.player-overlay-button {
  border: none;
  outline: none;
  cursor: pointer;
}

.color-primary {
  color: #00788a;
}

.color-accent {
  color: #f3901d;
}

.font-xl {
  font-size: 2.95rem;
}

*.hidden {
  position: relative;
  opacity: 0;
}

h1.page-title {
  color: #00788a;
  text-shadow: 0 0 5px #f3901d, 0 0 5px #f3901d, 0 0 5px #f3901d,
    0 0 5px #f3901d;
  font-size: 5.25rem;
}

h2 {
  font-size: 3.25rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  color: #00788a;
}

.card {
  color: #006b77;
  border: 5px solid #4b4b4b;
  border-radius: 15px;
  background: white;
  position: relative;
  width: 210px;
  height: 270px;
}

.auto-card {
  width: 100%;
  height: auto;
}

.outline-black {
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
}

.outline-accent {
  text-shadow: 0 0 5px #f3901d, 0 0 5px #f3901d, 0 0 5px #f3901d,
    0 0 5px #f3901d;
}

.border-primary {
  border: 3px solid #00788a;
}

.border-accent {
  border: 3px solid #f3901d;
}

.border-highlight {
  border-color: #ffd782;
  border-width: 5px;
}

.box-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.text-link {
  color: inherit;
  text-decoration: none;
}

.check-btn-small {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  border: 5px solid #4b4b4b;
  border-radius: 50%;
  background-color: #00788a;
  display: inline-block;
  position: relative;
}

.check-btn-small:after {
  opacity: 1;
  height: 14px;
  width: 6px;
  transform-origin: left top;
  border-right: 5px solid #f3901d;
  border-bottom: 5px solid #f3901d;
  content: '';
  left: 15px;
  top: 0px;
  position: absolute;
  transform: rotate(45deg);
}
