@font-face {
  font-family: 'interstate';
  src: url('../fonts/interstate-regular-comp-58b641cc0aca1.otf');
}

html {
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

#root {
  position: relative;
  min-height: 100vh;
}

body,
button {
  font-family: interstate, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-primary {
  color: #00788a;
}

.color-accent {
  color: #f3901d;
}

.font-xl {
  font-size: 2.25rem;
}

*.hidden {
  position: relative;
  opacity: 0;
}

h1.page-title {
  color: #00788a;
  text-shadow: 0 0 5px #f3901d, 0 0 5px #f3901d, 0 0 5px #f3901d,
    0 0 5px #f3901d;
  font-size: 5.25rem;
}

.card {
  color: #006b77;
  border: 5px solid rgb(75, 75, 75);
  border-radius: 20px;
  background: white;
  position: relative;
  width: 185px;
  height: 240px;
}

.auto-card {
  width: 100%;
  height: auto;
}

.outline-black {
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
}

.outline-accent {
  text-shadow: 0 0 5px #f3901d, 0 0 5px #f3901d, 0 0 5px #f3901d,
    0 0 5px #f3901d;
}

.border-primary {
  border: 3px solid #00788a;
}

.border-accent {
  border: 3px solid #f3901d;
}

.border-highlight {
  border-color: #ffd782;
  border-width: 5px;
}

.box-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
