.money-left-card {
  font-family: 'interstate';
  color: #006b77;
  position: relative;
  border: 5px solid rgb(75, 75, 75);
  border-radius: 20px;
  height: 33vh;
  width: 185px;
  height: 240px;
  background: white;
}

.money-left-circle {
  border: 5px solid rgb(75, 75, 75);
  border-radius: 50%;
  width: 20%;
  position: absolute;
  top: 40%;
  left: 20%;
}

.money-left-circle p {
  text-align: center;
  font-size: 30px;
  margin: 5px 0px;
}

.money-left-hockey-stick-box {
  position: absolute;
  top: 5%;
  left: -35%;
}

.money-left-title {
  position: absolute;
  top: 55%;
  left: 55%;
}
