.nav-menu {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.exit-hockey-stick-box {
  flex: 1;
 }

.home-title-box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home-title {
  transform: translate(10%, 10%);
}

.settings-link-box {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}