@font-face {
  font-family: 'interstate';
  src: url('../../../fonts/interstate-regular-comp-58b641cc0aca1.otf');
}

.trophies-hockey-stick {
  transform: translate(0%, -45%);
  text-align: end;
}

.trophies-text {
  text-align: center;
  font-size: 30px;
  transform: translate(0, -50%);
  color: #006b77;
  font-family: 'interstate';
}
