div.teacher_browser_header_wrap,
div.teacher_browser_header_wrap {
  > h3 {
    color: #002f6c;
  }
}

div.teacher_search_input_wrap {
  > span {
    flex: 0.2;
  }
  > input {
    display: block;
    flex: 1;
    background: none;
    border: none;
    border-bottom: 1px solid #00788a;
    transition: all 0.2s ease;
    padding: 0 0.25rem;
  }
}

input.current_page_input:focus,
div.teacher_search_input_wrap > input:focus {
  border-color: #f3901d;
  outline: #f3901d;
}

input.current_page_input {
  background: none;
  margin: 0 0.5rem;
  outline: none;
  border: 1px solid #00788a;
  border-radius: 3px;
  width: 50px;
  text-align: center;
  padding: 0.25rem 0;
}

div.teacher_table_header_row,
div.teacher_table_row_wrap:not(:last-child) {
  border-bottom: 1px solid #00788a;
}

div.teacher_table_row {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 0rem;
  cursor: pointer;
  font-size: 1rem;
  div {
    flex: 1;
  }
}

div.teacher_table_header_row {
  padding: 0.5rem 1rem 0.5rem 0rem;
  cursor: initial;
  color: #00788a;
  border-bottom: 2.5px solid #00788a;
}

div.teacher_table_header_row > div {
  font-size: 0.9rem;
  font-weight: bold;
}

div.teacher-_able_row > div {
  flex: 1;
  text-align: left;
}

div.grade_taught_column {
  max-width: 150px;
}

span.teacher_table_arrow_wrap {
  min-width: 3rem;
  max-width: 3rem;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

span.teacher_table_arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

div.time_spent_container {
  color: #002f6c;
  padding: 1rem;
}

div.time_spent_wrap {
  margin-top: 2rem;
}

div.time_spent_wrap > div {
  font-size: 1.5rem;
  color: #00788a;
  margin: 0.5rem 0;
}

div.admin_teacher_details_wrap {
  transition: all 0.3s ease;
  overflow: hidden;
}

div.admin_teacher_detail_wrap {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1rem;
}

div.get_time_spent_wrap {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

div.get_time_spent_wrap > span {
  color: #002f6c;
}

div.admin_teacher_details_inner {
  display: flex;
  padding: 1rem 3rem;
}

div.admin_teacher_details_left,
div.admin_teacher_details_right {
  flex: 1;
}

div.admin_teacher_details_right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 1rem;
}

div.admin_teacher_detail_action {
  position: absolute;
  bottom: 32px;
  right: 32px;
  display: flex;
  flex-direction: column;
}
div.admin_teacher_detail_action_item {
  margin: 12px;
}

span.admin_teacher_detail_label {
  display: inline-block;
  flex: 1;
  font-weight: bold;
  color: #00788a;
}

span.admin_teacher_detail {
  display: inline-block;
  flex: 1;
}
