@font-face {
  font-family: 'interstate';
  src: url('../../fonts/interstate-regular-comp-58b641cc0aca1.otf');
}

.team-rank-card {
  font-family: 'interstate';
  color: #006B77;
  border: 5px solid rgb(75,75,75);
  border-radius: 20px;
  background: white;
  position: relative;
  width: 185px;
  height: 240px;
}

.team-rank-circle {
  border: 5px solid rgb(75, 75, 75);
  border-radius: 50%;
  width: 20%;
  padding: .1rem;
  position: absolute;
  top: 15%;
  left: 50%;
}

.team-rank-circle p {
  text-align: center;
  margin: 5px 0px;
  font-size: 30px;
}

.team-rank-hockey-stick-box {
  position: absolute;
  top: 8%;
  left: 20%;
}

.team-rank-title {
  position: absolute;
  top: 55%;
  left: 10%;
}