.team-rank-card {
  border: 5px solid rgb(75,75,75);
  border-radius: 20px;
  height: 100%;
  background: white;
  position: relative;
  width: 185px;
  height: 240px;
}

.team-rank-circle {
  border: 10px solid rgb(75, 75, 75);
  border-radius: 50%;
  width: 30%;
  padding: .1rem;
  position: absolute;
  top: 10%;
  left: 30%;
}

.team-rank-circle p {
  text-align: center;
}

.team-rank-hockey-stick-box {
  position: absolute;
  top: 8%;
  left: 20%;
}

.team-rank-title {
  position: absolute;
  top: 55%;
  left: 10%;
}