#app-wrapper {
  min-height: 100vh;
  width: 100vw;
  background-color: #00788a;
}
div.app-container {
  width: 1024px;
  height: 768px;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  position: relative;
}

div.app-container > h1 {
  margin: 0;
  color: #00788a;
  animation: fadeIn 1s ease;
}
.formdiv {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 296px;
  width: 65%;
  height: 133%;
  background-color: #e5e5e5;
  opacity: 65%;
  overflow: scroll;
}

form {
  padding-top: 4%;
  display: flex;
  flex-direction: column;
}

.formdiv h4 {
  margin-top: 0%;
  font-size: 1.5rem;
  color: #070707;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2%;
  font-weight: bold;
}

input {
  width: 47%;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.4%;
  border-radius: 10px;
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  border-radius: 20px;
  border: 6px solid transparent;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
