#app-wrapper {
  min-height: 100vh;
  width: 100vw;
  background-color: #00788a;
}
div.app-container {
  width: 1024px;
  height: 768px;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}
