.season-initial-container {
  display: flex;
  padding: .5rem;
  justify-content: space-between;
}

.your-stats-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.your-stats-container {
  display: flex;
  justify-content: space-between;
}

.your-stats-wins {
  font-weight: bold;
  color: white;
}

.your-stats-losses {
  font-weight: bold;
  color: white;
}

.your-stats-points {
  font-weight: bold;
  color: white;
}

.your-stats {
  background: white;
  border-radius: 5px;
  padding: .5rem 1rem;
  font-size: 36px;
  font-weight: bold;
}

.next-opponent-container {
  background: white;
  border-radius: 5px;
  display: flex;
  padding: .1rem;
  margin: .1rem;
  height: 78px;
  width: 208px;
}

.opponent-logo-container {
  border: 1px solid black;
  border-radius: 5px;
  height: 64px;
}

.upcoming-games-container {
  background: white;
  border-radius: 5px;
  padding: .1rem;
  margin: .1rem;
  height: 184px;
  width: 208px;
}

.upcoming-game {
  display: flex;
  height: 57px;
}

.upcoming-games-title {
  color: white;
  font-weight: bold;
  font-size: 14px;
}