.teams-playing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.season-teams-vs-your-place,
.season-teams-vs-opponent-place,
.season-teams-vs {
  font-size: 36px;
  color: white;
  -webkit-text-stroke: 1px black;
}

.season-teams-vs-container {
  display: flex;
}

.team-scores-container {
  display: flex;
  justify-content: space-between;
  width: 300px
}